@model List<AdsListing.Models.Category>

@{
    ViewBag.Title = "List";
}

<div class="col-sm-12">
    <ul class="list-group">
        @foreach (var category in Model)
        {
            <li class="list-group-item">
                @Html.ActionLink(string.Format($"{category.Name} ({category.Ads.Count})"),
                        "ListAds", "Home", new { @categoryId = category.Id }, null)
            </li>
        }
    </ul>
</div>

