@model AdsListing.Models.Ad

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <div class="well">        
        @using (Html.BeginForm("Delete", "Ad", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group" align="center">  
                    <h2 class="col-sm-6 col-sm-offset-3" align="center">Are you sure you would like to delete @Model.Title ?</h2>                               
            </div>
            <div class="col-sm-6 col-sm-offset-3" align="center">
                @Html.ActionLink("Cancel", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-default" })
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        }
    </div>
</div>
